.vehicle-Bicycle {
    position: absolute;
    margin: auto;
    width: 63px;
    height: 63px;
    top: 170px;
    left: 170px;
    animation: myVehicleOrbit 15s linear infinite;
}

.vehicle-Scooter {
    position: absolute;
    margin: auto;
    width: 63px;
    height: 63px;
    top: 170px;
    left: 170px;
    animation: myVehicleOrbit 10s linear infinite;
}

.vehicle-Car {
    position: absolute;
    margin: auto;
    width: 63px;
    height: 63px;
    top: 170px;
    left: 170px;
    animation: myVehicleOrbit 5s linear infinite;
}

@keyframes myVehicleOrbit {
    from { transform: rotate(0deg) translateY(-231px); }
    to   { transform: rotate(360deg) translateY(-231px); }
}


#planet {
    position: relative;
    margin: auto;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: #bbb;
    /*animation: myPlanetRotation 50s linear infinite;
}

@keyframes myPlanetRotation {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}
*/
